<p style="color: green"><%= notice %></p>

<div class="row">
    
    <div class="col-3">
        <h1>Aisle Pairs</h1>

    </div>

     <div class="col-2">
        <%= link_to "New pair", new_store_pair_path %>
    </div>
</div>

<div class="row">
  
    <% @pairs.each do |pair| %>
    <div class="card col-2 border-secondary mb-3">
        <%= render pair %>
      
      </div>
    <% end %>
  
</div>


