<p style="color: green"><%= notice %></p>

<h1>Pairs</h1>


  <% @pairs.each do |pair| %>
  <div class="card col-2">
      <%= render pair %>
    <p>
      <%= link_to "Show this pair", pair %>
    </p>
  <% end %>
</div>

<%= link_to "New pair", new_store_pair_path %>
