<p style="color: green"><%= notice %></p>

<h1>Stores</h1>


<div class="row">
  <% @stores.each do |store| %>
   <div class="card col-2">
    <%= render store %>
  
     
      <%= link_to "Show this store", store %>
    
    </div>
  <% end %>

</div>
<%= link_to "New store", new_store_path %>
