<div class="row">
  <p>
    <div class="col-2">
      <strong>Section number:</strong>
    <%= section.section_num %>
    </div>

     <div class="col-2">
       <strong>depth:</strong>
    <%= section.section_depth %>
    </div>

     <div class="col-2">
       <strong>height:</strong>
    <%= section.section_height %>
    </div>

     <div class="col-2">
       <strong>width:</strong>
    <%= section.section_width %>
    </div>
    


</div>

  

